@import "variables";

a%drink {
    font-size: 2em;
    background-color: $lemon-yellow;
}

// placehoolders examples
%absolute {
	position : absolute;
}

%placeholder {
  font-size: 12px;
  color: #FFF;
  opacity: .9;
}
